@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="./css/bootstrap.css">*@
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/store.css">
    <title>Store</title>
</head>

<body>

    <div>
        <img src="../images/store/proteinBanner.jpg" width="100%" alt="1">
    </div>
    <br><br><br><br>
    <div class="container-fluid store-welcome">
        <h1>Welcome To Power Gym</h1>
        <p>java program which initialization earning of an employee. 
            The program should calculate the income tax to be paid 
            by the employee as per the criteria given below
            java program which initialization earning of an employee. 
            The program should calculate the income tax to be paid 
            by the employee as per the criteria given below

        </p>
    </div>

    <br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/1.jpg" width="100%" height="100%" alt="1">
                    <h4>Gym Protein Supplement</h4>
                    <h5>Price: $200</h5> 
                    <del>$250</del> <br />
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img"  src="../images/store/protein/2.jpg" width="100%" height="100%" alt="1">
                    <h4>Healthbox fitness addict</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/3.jpg" width="100%" height="100%" alt="1">
                    <h4>Gymprot Gainer Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/4.jpg" width="100%" height="100%" alt="1">
                    <h4>Musclepharm Combat</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/5.jpg" width="100%" alt="1">
                    <h4>Whey protein powder</h4>
                    <h5>Price: $200</h5> 
                    <del>$250</del> <br />
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img"  src="../images/store/protein/6.jpg" width="100%" height="100%" alt="1">
                    <h4>Pro Jym Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/7.jpg" width="100%" height="100%" alt="1">
                    <h4>Mapple Body Grow</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/8.jpg" width="100%" height="100%" alt="1">
                    <h4>GYM Raw Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
        </div>
    </div>


    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/9.jpg" width="100%" alt="1">
                    <h4>Gym Vixen Sexy</h4>
                    <h5>Price: $200</h5> 
                    <del>$250</del> <br />
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img"  src="../images/store/protein/10.jpg" width="100%" height="100%" alt="1">
                    <h4>Whey Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/11.jpg" width="100%" height="100%" alt="1">
                    <h4>MuscleBlaze Whey Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/12.jpg" width="100%" height="100%" alt="1">
                    <h4>Estrellas Gym Supplement</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
        </div>
    </div>


    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/13.jpg" width="100%" alt="1">
                    <h4>Carnivor Beef Protein</h4>
                    <h5>Price: $200</h5> 
                    <del>$250</del> <br />
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img"  src="../images/store/protein/14.jpg" width="100%" height="100%" alt="1">
                    <h4>Ethix Gym Body</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/15.jpg" width="100%" height="100%" alt="1">
                    <h4>Gym Protein Supplement</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/16.jpg" width="100%" height="100%" alt="1">
                    <h4>GYM ID Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/17.jpg" width="100%" alt="1">
                    <h4>Estrellas Nutrition Protein</h4>
                    <h5>Price: $200</h5> 
                    <del>$250</del> <br />
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img"  src="../images/store/protein/18.jpg" width="100%" height="100%" alt="1">
                    <h4>Ymprot Gainer Protein</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/19.jpg" width="100%" height="100%" alt="1">
                    <h4>Gym Protein Supplement</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
            <div class="col-lg-3 col-md-6 pb-md-0 pb-5">
                <div>
                    <img class="protein-img" src="../images/store/protein/20.jpg" width="100%" height="100%" alt="1">
                    <h4>Mass Gainer Powder</h4>
                    <h5>Price: $200</h5>
                    <del>$250</del>
                    <button class="buy-btn">Buy</button>
                </div>  
            </div>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br>
</body>

</html>